
  .itemCard {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
  }
  
  .itemCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
 

  .itemCard .itemCardTitle{
    font-weight: 700;
    color: #0b4281;
  }
  
  
  .itemCard .itemCardText {
    color: #0b4281;
    font-weight: 500;
    
  }

  .itemCard .medidasText {
    white-space: pre-line;
  }
  
  .itemImage {
  width: 100%;
  max-height: 250px;       /* altura máxima en desktop */
  object-fit: contain;      /* mantiene proporción, sin recorte */
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  background-color: #f5f5f5; /* relleno para imágenes más pequeñas */
}

/* Para pantallas pequeñas (mobile) */
@media (max-width: 768px) {
  .itemImage {
    height: 180px;      /* reducimos la altura para mobile */
  }
}

/* Para pantallas muy pequeñas (ej. celulares pequeños) */
@media (max-width: 480px) {
  .itemImage {
    height: 140px;      /* altura mínima para que se vea bien */
  }
}


* {
  font-family: "Quantico", sans-serif;
}

.itemCard button.botonVerMas{
  background-color:#178582 ;
   border-color: #464645;
}

.itemCard button.botonVerMas:hover{
  background-color:#0f5c5c;
  border-color: #464645;
}
